body {
  background-image: url("https://image.freepik.com/free-vector/soft-pastel-wallpaper-with-flowers_79603-1067.jpg");
}
div {
  display: block;
  text-align: center;
}
h1 {
  color: blue;
}
img {
  width: 400px;
}
#thirdDiv {
  width: 500px;
  height: 600px;
  background-color: cadetblue;
  padding: 50px;
  border: solid black 8px;
}
#spanId {
  font-size: 25px;
  margin: 50px;
}
